// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/aqua/index';
@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page{
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    @import url('https://fonts.googleapis.com/css?family=Roboto:100');
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;

    background-color: #5DB55B;
}

ActionBar{
    background-color:  #5DB55B;
    color: white;
}